window {
    margin: 10px;
    background-color: #222;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

#input {
    border: 2px solid #d35400;
    padding: 4px;
    border-radius: 0px;
    background-color: #111;
    color: #fff;
}

#entry {
    padding: 8px;
    color: #999;
}

#entry:selected {
    background-color: #d35400;
    color: #fff;
}

