# 05_workspaces.config
set $ws1  "1:<span> </span>1 <span foreground='#333333'>⬢</span><span> </span>"
set $ws2  "2:<span> </span>2 <span foreground='#FF0000'>⬢</span><span> </span>"
set $ws3  "3:<span> </span>3 <span foreground='#FF8000'>⬢</span><span> </span>"
set $ws4  "4:<span> </span>4 <span foreground='#FFFF00'>⬢</span><span> </span>"
set $ws5  "5:<span> </span>5 <span foreground='#80FF00'>⬢</span><span> </span>"
set $ws6  "6:<span> </span>6 <span foreground='#00FF80'>⬢</span><span> </span>"
set $ws7  "7:<span> </span>7 <span foreground='#00FFFF'>⬢</span><span> </span>"
set $ws8  "8:<span> </span>8 <span foreground='#0080FF'>⬢</span><span> </span>"
set $ws9  "9:<span> </span>9 <span foreground='#8000FF'>⬢</span><span> </span>"
set $ws0 "10:<span></span>10 <span foreground='#CCCCCC'>⬢</span><span> </span>"
