# 10_keys_session.config

unbindsym $mod+Shift+q
bindsym $mod+Shift+q exec swaynag \
    -t warning \
    -m 'Quit this session?' \
    -b 'Yes (click here)' 'swaymsg exit'

unbindsym $mod+Shift+p
bindsym $mod+Shift+s exec swaynag \
    -t warning \
    -m 'Shutdown the computer?' \
    -b 'Yes (click here)' 'systemctl poweroff'

unbindsym $mod+Shift+r
bindsym $mod+Shift+r exec swaynag \
    -t warning \
    -m 'Restart the computer?' \
    -b 'Yes (click here)' 'systemctl reboot'
