# 10_keys_session.config

unbindsym $mod+Shift+q
bindsym $mod+Shift+q exec swaynag \
    -t warning \
    -m 'Quit this session?' \
    -b 'Yes, quit it' 'swaymsg exit'

#unbindsym $mod+Shift+s
bindsym $mod+Shift+s exec swaynag \
    -t warning \
    -m 'Shutdown the computer?' \
    -b 'Yes, shutdown it' 'systemctl poweroff'

unbindsym $mod+Shift+r
bindsym $mod+Shift+r exec swaynag \
    -t warning \
    -m 'Restart the computer?' \
    -b 'Yes, restart it' 'systemctl reboot'
