# 10_workspaces.config
set $ws1  "1:<span> </span>1 <span foreground='#A0A0A0'>⬢</span><span> </span>"
set $ws2  "2:<span> </span>2 <span foreground='#FF6F6F'>⬢</span><span> </span>"
set $ws3  "3:<span> </span>3 <span foreground='#FFA94D'>⬢</span><span> </span>"
set $ws4  "4:<span> </span>4 <span foreground='#FFE066'>⬢</span><span> </span>"
set $ws5  "5:<span> </span>5 <span foreground='#8CE99A'>⬢</span><span> </span>"
set $ws6  "6:<span> </span>6 <span foreground='#74C0FC'>⬢</span><span> </span>"
set $ws7  "7:<span> </span>7 <span foreground='#845EF7'>⬢</span><span> </span>"
set $ws8  "8:<span> </span>8 <span foreground='#BE4BDB'>⬢</span><span> </span>"
set $ws9  "9:<span> </span>9 <span foreground='#85144b'>⬢</span><span> </span>"
set $ws10 "10:<span> </span>10 <span foreground='#303030'>⬢</span><span> </span>"

