# 10_gaps.config
set $gap_inner 4
set $gap_outer 0

# ------------------------------------------------------------------------------
gaps inner $gap_inner
gaps outer $gap_outer
smart_gaps on

set $gap_step_normal $gap_inner
set $gap_step_large 8

unbindsym $mod+$wm.binding.dec_gaps
unbindsym $mod+$wm.binding.inc_gaps
bindsym $mod+minus gaps inner current minus $gap_step_normal
bindsym $mod+equal gaps inner current plus $gap_step_normal
bindsym $mod+Shift+minus gaps inner current minus $gap_step_large
bindsym $mod+Shift+equal gaps inner current plus $gap_step_large

