# 40_window_appearance.config
# palette
set $orange         #cc7722
set $black          #000000
set $gray           #4a4a4a
set $white          #ffffff
set $red            #E01B24

# focused
set $color_focused_border       $orange
set $color_focused_bg           $orange
set $color_focused_text         $white
set $color_focused_indicator    $orange
set $color_focused_child_border $orange

# inactive
set $color_inactive_border       $black
set $color_inactive_bg           $gray
set $color_inactive_text         $white
set $color_inactive_indicator    $gray
set $color_inactive_child_border $gray

# unfocused
set $color_unfocused_border       $black
set $color_unfocused_bg           $gray
set $color_unfocused_text         $white
set $color_unfocused_indicator    $gray
set $color_unfocused_child_border $gray

# urgent
set $color_urgent_border       $red
set $color_urgent_bg           $red
set $color_urgent_text         $white
set $color_urgent_indicator    $red
set $color_urgent_child_border $red

# ------------------------------------------------------------------------------
client.focused           $color_focused_border $color_focused_bg $color_focused_text $color_focused_indicator $color_focused_child_border
client.focused_inactive  $color_inactive_border $color_inactive_bg $color_inactive_text $color_inactive_indicator $color_inactive_child_border
client.unfocused         $color_unfocused_border $color_unfocused_bg $color_unfocused_text $color_unfocused_indicator $color_unfocused_child_border
client.urgent            $color_urgent_border $color_urgent_bg $color_urgent_text $color_urgent_indicator $color_urgent_child_border
