# 80_idle.config
set $lock_time 600
set $poweroff_time 900

# ------------------------------------------------------------------------------
exec swayidle -w \
  timeout $lock_time 'gtklock' \
  timeout $poweroff_time 'swaymsg "output * dpms off"' \
  resume 'swaymsg "output * dpms on"' \
  before-sleep 'gtklock'
