# 80_idle.config
set $lock_time 300
set $poweroff_time 600

# ----------------------------------------------------------
exec swayidle -w \
  timeout $lock_time "gtklock --background $BG" \
  timeout $poweroff_time "swaymsg 'output * dpms off'" \
  resume "swaymsg 'output * dpms on'" \
  before-sleep "gtklock --background $BG"
