[init]
  defaultBranch = main

[user]
  name = Marcelo F Andrade
  email = mfandrade@gmail.com
  signingkey = 608DE262EFB14FE3

[commit]
  gpgSign = false

[diff]
  external = difft --display side-by-side --syntax-highlight off

[alias]
  # ----------------------------------------
  br = branch
  bra = branch --all
  brd = branch --delete
  brD = branch -D
  brm = branch --move
  bru = branch --set-upstream-to

  # ----------------------------------------
  ca = commit --all
  cm = commit --message
  cra = commit --reset-author
  com = commit
  coma = commit --all
  comm = commit --message
  comra = commit --reset-author
  am = commit --amend
  amend = commit --amend
  amm = commit --amend --message
  amne = commit --amend --no-edit

  # ----------------------------------------
  s = status
  st = status -s

  # ----------------------------------------
  co = checkout
  cob = checkout -b

  # ----------------------------------------
  d = diff
  dc = diff --cached
  cached = diff --cached

  # ----------------------------------------
  a = add
  aa = add --all
  ap = add --patch
  patch = add --patch

  # ----------------------------------------
  ls = log --pretty=format:\"%C(yellow)%h%C(reset)%C(magenta)%d %C(white)%s %C(blue)[%al]  %C(auto)%ar%C(reset)\" --ext-diff
  last = log --pretty=format:\"%C(yellow)%h%C(reset)%C(magenta)%d %C(white)%s %C(blue)[%al]  %C(auto)%ar%C(reset)\" --ext-diff -1 --stat
  hist = log --pretty=format:\"%h|%as|%al|%s%d\" --ext-diff

  # ----------------------------------------
  r = remote
  rv = remote --verbose
  rls = remote --verbose
  rem = remote --verbose
  radd = remote add
  rdel = remote rm
