[init]
  defaultBranch = main

[user]
  name = Marcelo F Andrade
  email = mfandrade@gmail.com
  signingkey = 608DE262EFB14FE3

[commit]
  gpgSign = false

[diff]
  external = difft --display side-by-side --syntax-highlight off

[alias]
  # ----------------------------------------
  br = branch
  bra = branch --all
  brd = branch --delete
  brD = branch -D
  brm = branch --move
  bru = branch --set-upstream-to

  # ----------------------------------------
  uncommit = reset --soft HEAD~1
  com = commit
  comm = commit --message
  comra = commit --reset-author
  addcom = commit --all
  addcomm = commit --all --message
  am = commit --amend
  amend = commit --amend
  amm = commit --amend --message
  amne = commit --amend --no-edit

  # ----------------------------------------
  s = status
  ss = status --ignored=matching --untracked-files=all
  st = status --short

  # ----------------------------------------
  co = checkout
  cob = checkout -b
  discard = checkout
  discard-all = checkout .

  # ----------------------------------------
  d = diff
  cached = diff --cached --stat
  staged = diff --staged

  # ----------------------------------------
  unadd = restore --staged
  stage = add
  unstage = restore --staged
  patch = add --patch

  # ----------------------------------------
  ls = log --pretty=format:\"%C(yellow)%h%C(reset)%C(magenta)%d %C(white)%s %C(blue)[%al]  %C(auto)%ar%C(reset)\" --ext-diff
  last = log --pretty=format:\"%C(yellow)%h%C(reset)%C(magenta)%d %C(white)%s %C(blue)[%al]  %C(auto)%ar%C(reset)\" --ext-diff -1 --stat
  hist = log --pretty=format:\"%h|%as|%al|%s%d\" --ext-diff

  # ----------------------------------------
  r = remote
  rv = remote --verbose
  rls = remote --verbose
  rem = remote --verbose
  radd = remote add
  rdel = remote rm

[pull]
  rebase = true

[include]
  path = ~/.gitconfig.extra
