[user]
	name = Marcelo F Andrade
	email = mfandrade@gmail.com
[core]
	editor = vim
[alias]
	br = branch
	co = checkout
	st = status --short
    comm = commit -a
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	last = show --format=oneline --unified=0 --abbrev-commit

    confedit = config --global -e
    up    = !git pull --rebase --prune $@ && git submodule update --init --recursive
    #undo = reset HEAD~1 --mixed
    amend = commit -a --amend

    new-branch = "!f() { if [ $# -ne 1 ]; then echo 'ERROR: Please define a branch name'; return 1; fi; B=\"$@\"; D=$(git config --get init.defaultBranch || echo master); git checkout $D && git checkout -b $B; }; f >/dev/null"
    feat = "!f() { if [ $# -ne 1 ]; then echo 'Please define a descriptive feature name'; return 1; fi; git new-branch feat/$(slugify $@); }; f"
    fix = "!f() { if [ $# -ne 1 ]; then echo 'Please define a descriptive fix name'; return 1; fi; git new-branch fix/$(slugify $@); }; f"
    done = "!f() { B=$(git branch --show-current); if [ \"${B%%feat/*}\" ]; then echo 'Not in a workflow branch'; return 1; fi; git checkout $(git config --get init.defaultBranch || echo master) && git merge $B && git branch -d $B; }; f"

[pull]
	rebase = true

[init]
    defaultBranch = main
