[user]
        name = Marcelo F Andrade
        email = mfandrade@gmail.com
[alias]
        br = branch
        st = status
        df = diff
        co = checkout
        com = commit
        comm = commit
        cout = checkout
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
[core]
        editor = vim
[merge]
        tool = vimdiff
