/* waybar/style.css */
* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font", sans-serif;
    font-size: 16px;
    min-height: 26px;
}

window#waybar {
    background: #000000;
    color: #ffffff;
}

#workspaces button {
    padding: 0 10px;
    color: #cccccc;
    transition: none;
}

#workspaces button:hover {
  background: #d35400;
  color: #ffffff;
}

#workspaces button.focused {
    background: #444444;
    color: #ffffff;
    border: 1px solid #d35400;
    transition: none;
}

#network {
    color: #cccccc;
    margin-left: 15px;
}

#clock {
    color: #cccccc;
    margin-right: 15px;
    margin-left: 15px;
}

