*
!.gitignore
!bin/
!bin/**
!docker/
!docker/**
!fish/
!fish/**
fish/fish_variables
!ghostty/
!ghostty/**
!git/
!git/**
!mc/
!mc/**
!nvim/
!nvim/**
!tmux/
!tmux/**
tmux/plugins/
!regolith3/
!regolith3/i3status-rs/
!regolith3/i3status-rs/**
!regolith3/sway/
!regolith3/sway/config.d/
!regolith3/sway/config.d/**
!regolith3/Xresources
!user-dirs.dirs
**/*.bak
