*
!.gitignore
!bin/
!bin/**
!docker/
!docker/**
!fish/
!fish/**
!ghostty/
!ghostty/**
!git/
!git/**
!mc/
!mc/**
!nvim/
!nvim/**
!tmux/
!tmux/**
tmux/plugins/
!sway/
!sway/**
!waybar/
!waybar/**
!user-dirs.dirs
