*
!.gitignore
!bin/
!bin/**
!docker/
!docker/**
!fish/
!fish/**
!ghostty/
!ghostty/**
!git/
!git/**
!mc/
!mc/**
!nvim/
!nvim/**
!tmux/
!tmux/**
tmux/plugins/
!regolith3/
!regolith3/Xresources
!regolith3/sway/
!regolith3/sway/config.d/
!sway/
!sway/**
!waybar/
!waybar/**
!user-dirs.dirs
**/*.bak
