bindsym $mod+Shift+d exec --no-startup-id "~/bin/darkmode.sh"

# unbind to avoid conflicts
unbindsym $mod+1
unbindsym $mod+2
unbindsym $mod+3
unbindsym $mod+4
unbindsym $mod+5
unbindsym $mod+6
unbindsym $mod+7
unbindsym $mod+8
unbindsym $mod+9
unbindsym $mod+0
unbindsym $mod+Ctrl+1
unbindsym $mod+Ctrl+2
unbindsym $mod+Ctrl+3
unbindsym $mod+Ctrl+4
unbindsym $mod+Ctrl+5
unbindsym $mod+Ctrl+6
unbindsym $mod+Ctrl+7
unbindsym $mod+Ctrl+8
unbindsym $mod+Ctrl+9
# and shift combinations too
unbindsym $mod+Shift+1
unbindsym $mod+Shift+2
unbindsym $mod+Shift+3
unbindsym $mod+Shift+4
unbindsym $mod+Shift+5
unbindsym $mod+Shift+6
unbindsym $mod+Shift+7
unbindsym $mod+Shift+8
unbindsym $mod+Shift+9
unbindsym $mod+Shift+0
unbindsym $mod+Ctrl+Shift+1
unbindsym $mod+Ctrl+Shift+2
unbindsym $mod+Ctrl+Shift+3
unbindsym $mod+Ctrl+Shift+4
unbindsym $mod+Ctrl+Shift+5
unbindsym $mod+Ctrl+Shift+6
unbindsym $mod+Ctrl+Shift+7
unbindsym $mod+Ctrl+Shift+8
unbindsym $mod+Ctrl+Shift+9

# define names with color icons for workspaces
set $ws1  "1:<span> </span>1 <span foreground='#E06C75'>⬢</span><span> </span>"
set $ws2  "2:<span> </span>2 <span foreground='#E5C07B'>⬢</span><span> </span>"
set $ws3  "3:<span> </span>3 <span foreground='#98C379'>⬢</span><span> </span>"
set $ws4  "4:<span> </span>4 <span foreground='#56B6C2'>⬢</span><span> </span>"
set $ws5  "5:<span> </span>5 <span foreground='#61AFEF'>⬢</span><span> </span>"
set $ws6  "6:<span> </span>6 <span foreground='#C678DD'>⬢</span><span> </span>"
set $ws7  "7:<span> </span>7 <span foreground='#D19A66'>⬢</span><span> </span>"
set $ws8  "8:<span> </span>8 <span foreground='#BE5046'>⬢</span><span> </span>"
set $ws9  "9:<span> </span>9 <span foreground='#83A598'>⬢</span><span> </span>"
set $ws10 "10:<span> </span>10 <span foreground='#B48EAD'>⬢</span><span> </span>"

# ctrl-alt-left/right goes to workspace prev/next
bindsym Ctrl+Alt+Left  workspace prev
bindsym Ctrl+Alt+Right workspace next
# mod-n goes to workspace n
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10
# mod-shift-n move focused window to workspace n
bindsym $mod+Shift+1 move container to workspace $ws1; workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2; workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3; workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4; workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5; workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6; workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7; workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8; workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9; workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10; workspace $ws10
