###############################################################################
# gaps Window Resize
###############################################################################

## Resize // Window Gaps // <> + - ##
unbindsym $mod+$wm.binding.dec_gaps
unbindsym $mod+$wm.binding.inc_gaps
bindsym $mod+$wm.binding.dec_gaps gaps inner current minus 4
bindsym $mod+$wm.binding.inc_gaps gaps inner current plus 4

## Resize // Big Window Gaps // <><Shift> + - ##
# unbindsym $mod+$wm.binding.dec_gaps_big
unbindsym $mod+$wm.binding.inc_gaps_big
# bindsym --to-code $mod+$wm.binding.dec_gaps_big gaps inner current minus 8
bindsym --to-code $mod+$wm.binding.inc_gaps_big gaps inner current plus 8

# Check also wm.gaps.inner.size, wm.gaps.outer.size, wm.gaps.smart on Xresources
